.btn-retour{
  margin-top: 10%;
  padding-left: 85%;
}

.document li{
  display:flex;
  align-items: center;
  gap: 5%;
}

.document li i{
  margin-right: 0%;
}

.ajouter-document{
  margin-top: 20%;
}
