.titre-index-realties h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5%;
}
.user-name-realties{
  margin-left: 3%;
}


.card-contain{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  // border-radius: 24px;
}
.title h5{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.text h5{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.card-name{
  display: flex;
  line-height: 1REM;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0%;
  margin-right: 5%;
  padding: 12px;
  margin-left: 5%;
}

svg{
  padding-top: 3%;
  margin-right: 5%;
  box-sizing: border-box;
  border-radius: 24px;
  width: 40%;
  height: 100px;
  background-color: white;
}

.Ajout{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

a{
  text-decoration: none;
  color: darkgrey;
  border:none;
  background-color:white;
}

.user-name-realties{
  display: flex;
  align-items: center;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--inbs-gutter-y);
  flex-wrap: nowrap;
}

.bouton-index-realties{
  display: flex;
  flex-direction: column;

}
