.image-container{
  margin-bottom: 3%;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.ml-auto{
  padding-left: 85%;
}


h4 {
  height: 19px;
  line-height: 19px;
  margin-bottom: 10px;
  color: slategray;
  font-weight: 600;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #535353;
  }

.titre-show-realty{
  margin-top: 0%;
}

.titre-appartement{
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.card-category {
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: url("home.jpg");
}

// détails appartement
.realty-details {
  align-items: center;
}

.titre-appartement h3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3%;
  padding: 1.25rem;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info-card {
  display: flex;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  align-items: center;
}

.info-card-icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.info-card-content-titre {
  font-size: 14px;
}

.info-card-content-titre p {
  height: 19px;
  font-size: 18px;
  line-height: 19px;
  color: black;
  font-weight: bolder;

}

.fa-money-bill-wave {
  color: #ff9800;
}

.info-card i{
  color: #03a9f4;
  font-size: 20px;
}
.btn-light{
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 27px;
  background-color: transparent;
}
.btn-light i{
  color: white;
  font-size: x-large;
}
.titre-appartement i{
position: absolute;
right: 10%;
}

.fa-home {
  color: #03a9f4;
}

.fa-map-marker-alt {
  color: #4caf50;
}

.fa-calendar-alt {
  color: #9c27b0;
}

// locataire

.tenant-container {
  align-items: center;
  border-radius: 12px;
  padding-right: 0%;
  padding-top: 3%;
  border: 1px solid grey;
}

.logo-container {
  margin-right: 10px;
}

.logo-container img {
  width: 40px;
  height: 40px;
}

.info-container2 {
  display: flex;
  flex-direction: column;
}

.info-container p {
  margin: 0;
  padding: 2px 0;
}



.info-name{
  display: flex;
  gap: 24px;
  font-weight: 800;
  flex-direction: row;
  justify-content: flex-start;
}
.info-name i{
  color: #03a9f4;
  font-size: 27px;
}
// fin locataire
.modifier{
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-show-realty{
  margin-left: 5%;
  margin-right: 5%;
}

.card-imgage-show-claim{
  width: 100%;
}

.loyer-prix{
  font-weight: normal;
  font-size: 1rem;
  margin-top: 4px;
}

.icone-billet{
  margin-top: -12px;

}
.info-entrée-show-realty{
  display: flex;
  font-weight: 800;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2%;
  margin-left: -7px;
}

.info-entrée-show-realty svg{
  color: #03a9f4;
  width: 40px;
  height: 49px;
}

.info-entrée-show-realty P{
  margin-top: 5px;
}

.enter_date_show_realty .enter_date{
  margin-top: -9px;
  font-weight: normal;
  font-size: 1rem;

}

.out_date_show_realty svg{
  color: #03a9f4;
  width: 40px;
  height: 40px;
  margin-top: 3%;
}

.out_date_show_realty P{
  margin-top: 3px;
}

.out_date_show_realty .out_date{
  margin-left: -91px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 1rem;
}

.btn{
  background-color:#03a9f4;;
}

.out_date_show_realty{
  display: flex;
  font-weight: 800;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -15%;
  margin-left: 171px;
}

.info-dure svg{
  color: #03a9f4;
  width: 52px;
  height: 40px;
  margin-top: -4%;
}

.info-dure{
  display: flex;
  font-weight: 800;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3%;
  margin-left: -14px;
}


.btn-path-show-realty{
  margin-top: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.btn-path-show-realty a{
  background-color: #03a9f4;
  margin-top: 3%;
  font-weight: 800;
  color: white;
}

.carte-titre-show-claim-gauche {
  margin-top: 5%;
}

.info-container img{
  border-radius: 14px;
}


.col-12 i {
  font-size: 30px;
  color: #03a9f4;
  &.icon-red {
    color: $red;
  }
}

.icone_supprimer_document{
  color: red;
}
