<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Bienvenue sur notre plateforme en ligne.</h3>
    </div>
    <div class="card-body">
      <p class="card-text"> Nous nous engageons à mettre relation entre propriétaires et locataires. Notre site immobilier offre une solution pratique et efficace pour faciliter la recherche de logements et la gestion des biens immobiliers. Que vous soyez propriétaire à la recherche d'un locataire fiable ou locataire à la recherche d'un logement idéal, notre plateforme vous accompagne tout au long du processus.</p>
      <a href="<%= new_user_session_path %>" class="btn btn-primary">Identifiez-Vous</a>
    </div>
  </div>
    <div class="row6">
      <p>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Les locataires</h5>
      Profils d'utilisateurs :</p>
        <p class="card-text"> Nous mettons au oeur de notre applications les locataires qui pourront effectuer des recherches avancées en fonction de leurs critères spécifiques tels que la localisation, la taille du logement, le loyer maximum, etc.
          Les propriétaires peuvent publier des annonces détaillées mettant en valeur les caractéristiques de leur bien immobilier, ce qui permet aux locataires de trouver plus facilement les logements qui correspondent à leurs besoins</p>
      </div>
    </div>
      <div class="row-6">
        <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Creation de profils</h5>
                    <p class="card-text"> Les propriétaires peuvent créer des profils pour présenter leurs biens immobiliers, y compris des photos, des descriptions, des informations sur les commodités, etc.
                    Les locataires peuvent créer des profils pour indiquer leurs préférences de logement, leur historique locatif et d'autres informations pertinentes pour faciliter la recherche de logement.
                    Messagerie intégrée :</p>
                </div>
          </div>
      </div>

      <div class="row-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Messagerie Sécurisé</h5>
            <p class="card-text"> Les propriétaires et les locataires peuvent communiquer directement via notre système de messagerie sécurisé intégré.
            Cela permet d'établir un contact facile et rapide, de poser des questions supplémentaires sur les logements et de planifier des visites.
            Gestion des visites et des demandes :</p>
          </div>
        </div>
      </div>


<%#
      <div class="row-6">
        <p>Une fois la sélection effectuée, notre plateforme propose la génération et la signature électronique de contrats de location pour assurer une transaction sécurisée entre les propriétaires et les locataires.
        Cela simplifie le processus de location, élimine les tracas administratifs et offre une sécurité juridique à toutes les parties impliquées.
        Conclusion :
        Notre plateforme de mise en relation propriétaire-locataire est conçue pour faciliter le processus de recherche de logements et de gestion des biens immobiliers. Que vous soyez propriétaire ou locataire, notre site vous offre une expérience utilisateur conviviale, des outils pratiques et une communication directe pour faciliter les transactions immobilières en toute confiance. Rejoignez notre communauté dès aujourd'hui et trouvez votre logement idéal ou le locataire idéal en quelques clics !</p>
      </div> %>

    </div>
  </div>
</div>
