/* Styles pour les messages individuels */
.message {
  display: flex;
  background-color: #e5e5ea;
  border-radius: 12px;
  padding: 8px 16px;
  margin-bottom: 4px;
  color: #000;
  align-self: flex-start;
  &.current-user {
    background-color: #03a9f4;
    color: #fff;
    align-self: end;
  }
}

/* Styles pour le bouton d'envoi du message */


/* Styles pour l'icône de l'avion en papier */
.fa-paper-plane {
  color: white;
}


// .message-user strong {
//   font-weight: bold;
// }

// .message-details small {
//   color: #999;
// }

.message-text {
  margin-top: 2%;
}

.align-self-end {
  align-self: flex-end;
}

.text-end {
  text-align: right;
}
