.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.chatroom h1 {
  border-bottom: 1px solid $gray-200;
  margin-bottom: 0;
  padding: 1rem;
}

.chatroom .messages {
  height: 100%;
  overflow: scroll;
  padding: 1rem;
}

.chatroom #new_message {
  border-top: 1px solid $gray-200;
  padding: 1rem;
}

.chatroom #new_message .form-group {
  margin-bottom: 0;
}
