.reclamation {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.titre_claim{
  margin-top: 10%;
}

.btn-claim-edit{
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titre-show_claim{
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
