.messages {
  overflow-y: scroll;
  border: 1px solid #ccc;
  z-index: -1;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
.container_realty{
  width: 100%;
  height: 100%;
}

.input-group {
  margin-top: 702px;
  margin-bottom: 10px;
  border: none;
  margin-left: 3%;
}

.input-group .form-control {
  border-radius: 0;
  background-color: white;
}

.input-group button {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 8px;
  transition: background-color 0.3s;
  margin-bottom: 16px;
  border: none;

}

.input-group button i {
  margin-right: 5px;
}

.btn-icon{
  background-color: transparent;

}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select{
  border-top-right-radius: 0;
  border: none;
  background-color: white;
  border-bottom-right-radius: 0;
  background-color: transparent;
}
// pour le cercle
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  margin-right: 2%;
  border-radius: 50%;
  background-color: darkviolet;
  height: 38%;
  width: 11%;
  margin-top: 5%;
  margin-left: 0;
}
