.navbar-lewagon {
  justify-content: space-between;
  background-image: radial-gradient(#39A0ED, #177E89);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

i{
  color:black;
}
